<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="SharePointSiteUrl" value="http://192.168.109.154" />
    <!-- 设置默认角色和用户 -->
    <add key="DefaultRole" value="超级管理员" />
    <add key="DefaultAccount" value="spadmin,zhanxl" />

    <!--企业微信 测试环境 Start-->
    <add key="CorpID" value="wwb7fe0465bb9ec8a4" />
    <add key="AgentID" value="1000012" />
    <add key="AppSecret" value="7N_Tw_EboefYyeWl8b5gCVph31eNqOZvS5Jk-z8oWGg" />
    <!--企业微信 测试环境 End-->
    
    <!--SSO测试环境 Start-->
    <add key="SSOHost" value="http://172.16.11.38:8080" />
    <add key="ClientID" value="1e8d522b2ea0b954a847c69f95dbf1cawNMOgm9Gg4I" />
    <add key="ClientSecret" value="lTDbUbgp8N0PGHG5xmKhL6vHwTR87V61z1pBDn3vzO" />
    <add key="RootExternalID" value="569161a342988352c236498db5624959sd1FV2uZvq0" />
    <!--SSO测试环境 End-->

    <!--SSO生产环境 Start-->
    <!--<add key="SSOHost" value="https://sso.dongzhengafc.com:8081" />
    <add key="ClientID" value="d7aaa26837dc16dc12e56a660bd63cca2GxiCra7x8w" />
    <add key="ClientSecret" value="vYISJ6Wkg7UANQLwoVwhoHI6bPEkzbK1vtmdep1OAi" />
    <add key="RootExternalID" value="4064274091596480212" />-->
    <!--SSO生产环境 End-->
    
    
    
  </appSettings>
  <connectionStrings>
    <add name="DZPortalDB" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=DZ_PORTAL;Password=shdzportal;Data Source=DZPortal_DEV" />
    <add name="AuthorizationDB" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=DZ_PORTAL;Password=shdzportal;Data Source=DZPortal_DEV" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <!--
  有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。
  可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0"><controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls></pages>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="DZPortal_DEV" descriptor="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.33)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = dztest))) " />
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>